:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}



.work-sans-400 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans-600 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.work-sans-700 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    display: flex;
    height: 100svh;
    align-items: safe center;
    justify-content: center;
    background-image: url('../assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--light-pink);
    
}

.card {
    display: flex;
    flex-direction: column;
    inline-size: 20.5rem;
    min-inline-size: 20.5rem;
    background-color: var(--white);
    padding-inline: 1.5rem;
    padding-block: 1.2rem;

    border-radius: 8px;
    /* align-content: center; */
    /* block-size:20rem; */
    /* min-block-size: 24rem; */
    /* min-width: 20rem; */
}

.heading-con {
    display: flex;
    align-items: center;
    gap: 22px;
    color: var(--dark-purple);
    margin-block-end: 0.8rem;
    
}

.hide {
    display: none;
}
.q-con {
   border-bottom: 1px solid var(--light-pink);
}
.q-con>p {
    font-size: 0.88rem;
    text-align: left;
    /* max-width: 40ch; */
}
.q-con:last-child {
    border-bottom: 0px;
}
.q-heading-con {
    display: flex;
    padding-block-start: 0.2rem;
}
.q-heading-con>h2 {
    font-size: 1rem;
    color: var(--dark-purple);
    max-width: 21ch;
    
    line-height: 1.35;
}
.q-heading-con>img {
    margin-inline-start: auto;
}
